:root {
	--background-color: rgb(80,80,80);
	--lime: #a2faa0;
	--blue: #6894eb;
	--yellow: #FCE789;
	--offwhite: #FFFCE3;
}

@font-face {
	font-family: KeepCalm;
	src: url(KeepCalm-Medium.ttf);
}

@font-face {
	font-family: SansSerif;
	src: url(sans_serif_plus_7.ttf);
}

@font-face {
	font-family: RalewayMedium;
	src: url(Raleway-Medium.ttf);
}

body {
	background-color: var(--background-color);
}

svg {
	position: absolute;
	top: 5vh;
	height: 100%;
	width: 100%;
}

.titleDiv {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	text-align: center;
}

.mainTitle {
	margin-top: 3vh;
	margin-bottom: 0;
	padding: 1rem;
	font-family: KeepCalm;
}

.gradientDiv {
	z-index:-1;
	position:relative;
	height: 35vh;
	background: linear-gradient(155deg, rgba(0,60,255,1) 4%, rgba(162,250,160,1) 58%, rgba(255,223,0,1) 84%);
}

.navbar-nav {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 2vh;
}

.navLink {
	text-decoration: none;
	color: white;
	margin-left: 1rem;
	margin-right: 1rem;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	padding: .5rem;
	border-radius: .25rem;
}

.navStyle1 {
	border-color: var(--blue);
}

.navStyle1:hover {
	background-color: var(--yellow);
	border: solid transparent;
	border-width: 2px;
	color: black;
}

.navStyle2 {
	border-color: var(--green);
}

.navStyle2:hover {
	background-color: var(--blue);
	border: solid transparent;
	border-width: 2px;
}

.navStyle3 {
	border-color: var(--yellow);
}

.navStyle3:hover {
	background-color: var(--lime);
	border: solid transparent;
	border-width: 2px;
}

#aboutNav:hover {
	background-color: var(--lime);
}

/*CARD STUFF */

.card {
	display: flex;
	flex-direction: column;
	justify-content: start;

	text-decoration: none;
	color: black;
	border-radius: .25rem;
	max-width: 13rem;
	max-height: 15rem;
	min-width: 10rem;
	padding: .75rem;
	margin: 1.2rem;

	background-color: white;
	box-shadow: 9px 12px 20px;
}

.card:hover {
	box-shadow: 1px 1px 20px rgb(120,120,120), -1px -1px 20px rgb(120,120,120);
}

.cardStyle1 {
	background-color: var(--lime);
}

.cardStyle2 {
	background-color: var(--blue);
}

.cardStyle3 {
	background-color: var(--yellow);
}

.cardDescription {
	margin-top: 0;
	font-size: .75rem;
}

.cardDiv {
		margin-left: 1rem;
		margin-right: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cardTitle {
		font-size: 1.25rem;
		font-family: RalewayMedium;
}

.cardImageDiv {
	max-width: 200px;
	height:40%;
	display: flex;
	justify-content: center;
	align-content: flex-start;
	margin-left: auto;
	margin-right: auto;
}

.cardImage {
	max-height: 200px;
	object-fit: contain;
}


/* ABOUT */

.about {
	display: flex;
	justify-content: center;
}

.aboutText {
	line-height: 2rem;
}

.articleContent {
	position: relative;
	background-color: var(--lime);
	padding: 1rem;
	border-radius: .5rem;
	width: 90%;
}

.sidebarDiv {
	float: right;
	width: 30%;
	min-width: 120px;
	background-color: var(--yellow);
	padding:.5rem;
	margin: 1rem;
	border-radius: .5rem;
}

.school, .degree {
	margin: 0;
}

.degree {
	color: var(--blue);
}

.selfPortrait {
	max-width: 150px;
	float: left;
	border-radius: .25rem;
	margin: 1rem;
}

/*RESPONSE ABOUT */

@media screen and (max-width: 750px){
	.sidebarDiv {
		float: none;
		width: 90%;
	}

	.articleContent{
	}

.card {
		margin: .5rem;
}

.cardDiv {
		margin-left: 0;
		margin-right: 0;
		}
}



