:root {
	--background-color: rgb(80,80,80);
	--lime: #a2faa0;
	--blue: #2BB7E9;
	--yellow: #FCE789;
}

body {
	background-color: var(--background-color);
}

svg {
	height: 100%;
	width: 100%;
}

.titleDiv {
	display: flex;
	justify-content: center;
	margin-bottom:auto;
}

.mainTitle {
	margin-top: 0;
	padding: 1rem;
}

.gradientDiv {
	z-index:-1;
	position:relative;
	height: 35vh;
	background: linear-gradient(155deg, rgba(0,60,255,1) 4%, rgba(162,250,160,1) 58%, rgba(255,223,0,1) 84%);
}

.navbar-nav {
	width: 100%;
	display: flex;
	justify-content: center;
}

.navLink {
	text-decoration: none;
	color: white;
	margin-left: 1rem;
	margin-right: 1rem;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	padding: .5rem;
	border-radius: .25rem;
}

.navStyle1 {
	border-color: var(--blue);
}

.navStyle1:hover {
	background-color: var(--yellow);
	border: solid transparent;
	border-width: 2px;
	color: black;
}

.navStyle2 {
	border-color: var(--green);
}

.navStyle2:hover {
	background-color: var(--blue);
	border: solid transparent;
	border-width: 2px;
}

.navStyle3 {
	border-color: var(--yellow);
}

.navStyle3:hover {
	background-color: var(--lime);
	border: solid transparent;
	border-width: 2px;
}

#aboutNav:hover {
	background-color: var(--lime);
}

/*CARD STUFF */

.card {
	border-radius: .25rem;
	background-color: white;
	max-width: 15rem;
	padding: .5rem;
	margin: .5rem;
}

.cardStyle1 {
	background-color: var(--lime);
}

.cardStyle2 {
	background-color: var(--blue);
}

.cardStyle3 {
	background-color: var(--yellow);
}

.cardDescription {
	font-size: .75rem;
}



