:root {
	--background-color: rgb(80,80,80);
	--lime: rgb(0,180,0);
}

body {
	background-color: var(--background-color);
}

svg {
	height: 100%;
	width: 100%;
}

.titleDiv {
	display: flex;
	justify-content: center;
	margin-bottom:auto;
}

.mainTitle {
	margin-top: 0;
	padding: 1rem;
}

.gradientDiv {
	z-index:-1;
	position:relative;
	height: 35vh;
	background: linear-gradient(155deg, rgba(0,60,255,1) 4%, rgba(162,250,160,1) 58%, rgba(255,223,0,1) 84%);
}

.navbar-nav {
	width: 100%;
	display: flex;
	justify-content: center;
}

.navLink {
	color: var(--lime);
	margin-left: 1rem;
	margin-right: 1rem;
}

.card {
	background-color: white;
	max-width: 10rem;
}
